<ion-view view-title="Kabba Manga">
  <ion-content>
    <div class="spinner" ng-if="!hasManga">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>

      <p>Loading Manga...</p>
    </div>

    <ion-list ng-if="hasManga">
      <ion-item href="#/app/mangaList">
        Popular Manga
      </ion-item>
      <ion-item href="#/app/alphabetView">
        Manga by Title
      </ion-item>
      <ion-item href="#/app/genres">
        Genres
      </ion-item>
      <ion-item href="#/app/favorites">
        Favorites
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
